<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fried Rice King</title>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="/manifest.json">


</head>

<body>
  <header class="app-bar">
    <a href="#main-content" class="skip-to-content">Skip to Content</a>
    <button id="hamburgerButton" class="menu-toggle" aria-label="Open navigation menu">☰</button>
    <div class="app-bar__brand">
      <img src="../images/logo/logo.png" alt="Fried Rice King Logo" class="logo">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/AIPPproject03/AIPPproject03">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="main-content" tabindex="0">
    <section class="hero">
      <img src="../images/heros/hero-image_1.jpg" alt="Delicious food served at Fried Rice King" class="hero__image">
      <h2 class="hero__title">Welcome to Fried Rice King</h2>
    </section>

    <section class="explore">
      <h2>Explore Restaurant</h2>
      <div class="restaurant-list" id="restaurant-list">
      </div>
    </section>
  </main>

  <footer>
    <p>Copyright © 2024 - Fried Rice King</p>
  </footer>
</body>


</html>