<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fried Rice King</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="preload" href="./images/heros/hero-image_1-1200.jpg" as="image" type="image/jpeg" />
  <link rel="preload" href="./images/heros/hero-image_1-800.jpg" as="image" type="image/jpeg"
    media="(max-width: 800px)" />
  <link rel="preload" href="./images/heros/hero-image_1-480.jpg" as="image" type="image/jpeg"
    media="(max-width: 480px)" />
  <link rel="preload" href="./images/heros/hero-image_1-1200.webp" as="image" type="image/webp" />
  <link rel="preload" href="./images/heros/hero-image_1-800.webp" as="image" type="image/webp"
    media="(max-width: 800px)" />
  <link rel="preload" href="./images/heros/hero-image_1-480.webp" as="image" type="image/webp"
    media="(max-width: 480px)" />
</head>

<body>
  <header class="app-bar">
    <a href="#main-content" class="skip-to-content">Skip to Content</a>
    <button id="hamburgerButton" class="menu-toggle" aria-label="Open navigation menu">☰</button>
    <div class="app-bar__brand">
      <img src="./images/logo/logo.png" alt="Fried Rice King Logo" class="logo">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/AIPPproject03/AIPPproject03">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="main-content" tabindex="0">
    <section class="hero">
      <picture>
        <source type="image/webp" media="(max-width: 480px)" srcset="./images/heros/hero-image_1-480.webp">
        <source type="image/webp" media="(max-width: 800px)" srcset="./images/heros/hero-image_1-800.webp">
        <source type="image/webp" media="(min-width: 801px)" srcset="./images/heros/hero-image_1-1200.webp">

        <source type="image/jpeg" media="(max-width: 480px)" srcset="./images/heros/hero-image_1-480.jpg">
        <source type="image/jpeg" media="(max-width: 800px)" srcset="./images/heros/hero-image_1-800.jpg">
        <source type="image/jpeg" media="(min-width: 801px)" srcset="./images/heros/hero-image_1-1200.jpg">

        <picture src="./images/heros/hero-image_1-1200.webp" alt="Delicious food served at Fried Rice King"
          class="hero__image" width="1200" height="600" loading="lazy">
        </picture>
    </section>

    <section class="explore">
      <h2>Explore Restaurant</h2>
      <div class="restaurant-list" id="restaurant-list">
      </div>
    </section>
  </main>

  <footer>
    <p>Copyright © 2024 - Fried Rice King</p>
  </footer>
</body>

</html>